---
# Top-level Sass files need some front matter (just this comment is enough).
---

.download-info a, .download-info div {
	display: inline;
}

.download-info .hash {
	float: right;
	font-family: monospace;
}

.datasets hr {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #ddd;
}

.dataset-full .description {
	margin-top: 20px;
}
