.link-info a,
.link-info div {
    display: inline;
}

.link-info .hash {
    float: right;
    font-family: monospace;
}

.datasets hr {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ddd;
}

.dataset-full .description {
    margin-top: 20px;
}

.references a {
    display: block;
    margin-bottom: 20px;
}
