.pub-entry,
.pub-entry-full {
    color: #3f3f3f;
}

.pub-entry {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px #ddd;
}

a.pub-link {
    margin-right: 5px;
    cursor: pointer;
}

.pub-entry-full table {
    table-layout: fixed;
}

.pub-entry-full tr td:first-child {
    width: 75px;
}

.pubs-list a.keyword-link {
    margin-right: 10px;
    text-decoration: underline;
}

.pubs-list a.title-link {
    font-weight: bold;
}

.pubs-list a.venue-link {
    font-style: italic;
}

.pubs-list .year-marker {
    font-size: larger;
    padding: 5px;
    text-align: center;
}

.pubs-filter {
    position: relative;
}

.pubs-filter a {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 1px 1px #ddd;
    font-size: small;
    position: absolute;
    right: 0;
    top: 0.5em;
    cursor: pointer;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
    color: #111;
}

.pubs-filter a:hover {
    text-decoration: none;
}

.pubs-filter a svg {
    padding-right: 0px;
}
